$brand-blue: #289AFF;
$brand-magenta: #EA1D64;
$brand-orange: #F9A81A;
$app-blue: #389AFF;
$brand-forest: #009688;
$brand-lime: #6FBE44;
  
$blue:    $app-blue;
$indigo:  #673AB7;
$purple:  #9C27B0;
$pink:    $brand-magenta;
$red:     #E62A10;
$orange:  $brand-orange;
$yellow:  #ffc107;
$green:   $brand-forest;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black:    #000;

$primary:       $blue; // This should be a dark/vibrant color not light. Light colors will work poorly
$secondary:     $gray-600; // This should be a dark/vibrant color not light. Light colors will work poorly
$success:       $green;
$info:          $blue;
$warning:       $brand-orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;


$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

@import 'node_modules/bootstrap/scss/bootstrap';
.btn-primary, .btn-success, .btn-warning, .btn-danger {
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
  --bs-btn-active-color: white;
  --bs-btn-disabled-color: white;
}
